body {
    max-width: 100%;
    font-family: "Helvetica", sans-serif;
    font-size: 11pt;
}

h1 {
    text-align: center;
}

.textInputBox {
    text-align: center;
    padding: 20px 40px;
}
.textInputBox > textarea {
    resize: vertical;
    width: 100%;
    box-sizing: border-box;
    min-height: 5em;
}
#information-box {
    display: grid;
    grid-template-columns: repeat(5, auto);
    column-gap: 10px;
    grid-auto-flow: column;
    grid-template-rows: auto auto;
    justify-content: space-between;
}